<div class="fixed inset-x-0 top-0 z-50 h-0.5 mt-0.5 bg-white"></div>

<div class="navbar bg-blue-600 fixed top-0 left-0 right-0 z-10">

    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn text-white btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 font-bold">
                <li>
                    <%= link_to 'Accueil', root_path %>
                </li>
                <li>
                    <a>Devoirs</a>
                </li>
                <li>
                    <a>Sujets Bac</a>
                </li>

                <li>
                    <a>Argent gagnez</a>
                </li>
                <div class="avatar">
                    <% member_avatar = "#{[current_user.first_name.first, current_user.last_name.first].join('')}"  %>
                    <div class="w-12 rounded-full">
                        <p class="flex h-12 w-12 rounded-full bg-gray-300 font-bold text-black mx-auto uppercase">
                            <span class="flex justify-center mx-auto py-3 "><%= member_avatar %></span>
                        </p>
                    </div>
                </div>
            </ul>
        </div>
        <%= link_to root_path, class:" font-bold normal-case text-xl md:ml-10" do %>
            <p class="block px-2 py-1 mt-2 bg-white rounded-lg  md:mt-0">
                <span class="text-white bg-blue-600 px-1">Ln</span>class
            </p>
        <% end %>

    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1 font-bold">
            <li>
                <%= link_to 'Accueil', root_path %>
            </li>
            <li>
                <%= link_to 'Dashboard', "dashboard" %>
            </li>
            <li>
                <%= link_to 'Nouv Cours', "new-course" %>
            </li>
            <li>
                <%= link_to 'New Level', "new-level" %>

            </li>

            <li>
                <%= link_to 'New Material', "new-material" %>
            </li>
            <li>
                <%= link_to 'New Statut', "new-statut" %>
            </li>

            <div class="avatar">
                <%= link_to  root_path do %>
                    <% member_avatar = "#{[current_user.first_name.first, current_user.last_name.first].join('')}"  %>
                    <div class="w-12 rounded-full">
                        <p class="flex h-12 w-12 rounded-full bg-gray-300 font-bold text-black mx-auto uppercase">
                            <span class="flex justify-center mx-auto py-3 "><%= member_avatar %></span>
                        </p>
                    </div>
                <% end %>
            </div>
            <li>
                <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, class:"mx-3" %>
            </li>

        </ul>
    </div>
</div>

