<div class="card  bg-base-100 shadow-xl">
    <div class="bg-blue-600 h-20">
        <p class="inset-x-0 top-0 z-50 h-0.5 mt-0.5 bg-white"></p>
    </div>
    <div class="items-center text-center -mt-6">
        <%= link_to root_path do %>
            <div class="avatar">
                <% member_avatar = "#{[current_user.first_name.first, current_user.last_name.first].join('')}"  %>
                <div class="w-14 rounded-full">
                    <p class="flex h-14 w-14 rounded-full bg-gray-300 font-bold text-black mx-auto uppercase">
                        <span class="flex justify-center mx-auto p-4 "><%= member_avatar %></span>
                    </p>
                </div>
            </div>
        
        <% end %>
    </div>
    <div class="card-body ">
        <div class="">
            <span class="font-semibold">Ville</span>:
            <%= current_user.city_name %>
        </div>
        <hr>
        <div class=" my-2">
            <span class="font-semibold">Ecole</span>:
            <%= current_user.school_name %>
        </div>
        <hr>
        <div class="">
            <span class="font-semibold">Niveau</span>:
            <%= link_to "profil" do %> <%#= current_user.level_name %><% end %> 
        </div>
    </div>
</div>
