<div id="<%= dom_id level %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= level.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= level.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= level.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this level", level, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this level', edit_level_path(level), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
